* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    overflow: hidden;
  }
  body {
    background-image: url("../img/blob-scene-haikei.svg");
    background-size: cover;
    background-position: center;
  }
  .header--container {
    width: 100%;
    min-width: 320px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    background: rgb(212, 139, 226);
    text-align: center;
  }
  .header--container ul {
    height: 30px;
    min-width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    font-size: 1.5rem;
    padding-top: 35px;
  }
  li {
    margin-top: 50px;
  }
  
  li:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.1875rem;
    width: 0rem;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  li:hover:after {
    width: 100%;
    background: rgba(0, 0, 0, 0.678);
    
  }
  .header--link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .header--link:hover {
    color: #ffffff;
  }
.main--container{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    
}
.main--container--bg{
    width: 70%;
    min-width: 320px;
    background: url('../img/19199016111.jpg');
    background-size:cover;
    background-position: center;
}
.main--container--form{
    width: 30%;
    height: 100vh;
    background-color: #FFFF;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;

}
.wrapper{
    width: 60%;
    min-width: 270px;
    max-width: 375px;
    height: 450px;
    background-color: rgb(109, 68, 155);
    margin: auto;
    border-radius: 1em;
    text-align: center;
    box-shadow: 1px 7px 47px -1px rgba(104,38,148,1);
}

.main--container--form--title{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}
.main--container--form--title h1{
    color: #FFFF;
    font-family:'Poppins', sans-serif;
}
.container--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.form--label{
    font-weight: bold;
    font-size: 1.5rem;
    font-family:'Poppins', sans-serif;
    color: #FFFF;
    letter-spacing: 0.15rem;
    padding: 10px  0px;
    
}
.form--input{
    width: 70%;
    outline: 0;
    border-width: 0 0 2px;
    background-color:transparent;
    border-color: #deadf3;
    padding: 7px;
    color: #FFFF;
    font-size: 1.5rem;
    
}

.form--input:focus, input:valid{
    border-color: #5d11c7
  }
.form--input::placeholder{
    color: rgb(172, 169, 169);
    font-size: 1.2rem;
}
.form--recover{
    color: #FFFF; 
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-top: 10px;
    letter-spacing: 0.1rem;
    text-decoration: none;
}
.form--btn{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    width: 30%;
    border-radius: 5%;
    border:none;
    cursor: pointer;
    outline: inherit;
    color: #333;
    font-family: 'Poppins', sans-serif;
}
.form--btn:hover{
    background-color: #cfdd4b;
    color: #5d11c7;
}
@media screen and (max-width: 930px){
    .main--container{
        height: 100vh;
        
    }
    .main--container--bg{
        display: none;
    }
    .main--container--form{
        background:url(../img/19199016111.jpg) no-repeat center;
        background-size:cover;
        width: 100%;
        min-width: 320px;
    }

}